#nav-text {
    font-size: 250%;
    font-family: "Hobeaux";
    color: rgb(0, 0, 0);
}

body{
    padding:100px 0px 0px 0px;
    z-index:0;
}

#sign-up {
    color:#fff;
    background-color: rgb(108, 28, 132);
    border-color:#fff;
}

.jumbotron {
    background-color: rgb(211, 52, 121);
}

.login-phone {
    max-width: 100%;
}