body {
    padding: 150px 0px 0px 0px;
}
.jumbotron {
    background-color: rgb(211, 52, 121);
}

 .download-logo {
     height: 100px;
     width: 200px;
 }

 .driod-logo {
     height: 100px;
     width: 100px;
 }

.img-ft {
    max-width: 15%;
}

.ft {
    font-size: 300%;
    /* text-decoration: underline; */
}

.card {
    border: none;
}