body {
    padding: 130px 0px 0px 0px;
}
.jumbotron {
    background-color: rgb(211, 52, 121);
}

 .download-logo {
     height: 100px;
     width: 200px;
 }

 .driod-logo {
     height: 100px;
     width: 100px;
 }